
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : RedMarket 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140101

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<link href="resources/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="resources/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper" style="background-color: #FFBFAB; border-top:#FFBFAB;">
	<div id="header" class="container">
		<div id="logo">
			<h1 style="background-color: #FFBFAB"><a href="#index.html"><img src="resources/images/logo_5.png" width="40%" height="40%" ></a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" style="background-color: #FFBFAB; color:#625772" title="">클렌징</a></li>
				<li class="active"><a href="#" accesskey="2" style="background-color: #FFBFAB; color:#625772" title="">스킨케어</a></li>
				<li class="active"><a href="#" accesskey="3" style="background-color: #FFBFAB; color:#625772" title="">메이크업</a></li>
				<li class="active"><a href="#" accesskey="4" style="background-color: #FFBFAB; color:#625772" title="">바디케어</a></li>
				<li class="active"><a href="#" accesskey="5" style="background-color: #FFBFAB; color:#625772" title="">로그인</a></li>
				<li class="active"><a style="background-color: #FFBFAB; color:#625772" href="#" accesskey="5" title="">회원가입</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="wrapper">
	<div id="staff" class="container">
		<div class="title">
			<h2>당신의 고민을 해결해주는 뭐사지!</h2>
			<span> 연령대, 성별, 취향에 맞는 선물을 추천받으세요!</span> </div>
		<div class="boxA"><img src="resources/images/pic01.jpg" width="300" height="450" alt="" /></div>
		<div class="boxB"><img src="resources/images/pic02.jpg" width="300" height="450" alt="" /></div>
		<div class="boxC"><img src="resources/images/pic03.jpg" width="300" height="450" alt="" /></div>
	</div>
	<div id="page" class="container">
		<div class="boxA">
			<h2>박스A<br />
				<span>제목A</span></h2>
			<p>내용A</p>
			<ul class="style4">
				<li class="first"><a href="#">링크1</a></li>
				<li><a href="#">링크2</a></li>
				<li><a href="#">링크3</a></li>
			</ul>
		</div>
		<div class="boxB">
			<h2>박스B<br />
				<span> 제목B</span></h2>
			<ul class="style3">
				<li class="first">
					<p class="date"><a href="#">Dec<b>30</b></a></p>
					<h3>제목B</h3>
					<p><a href="#">링크1</a></p>
				</li>
				<li>
					<p class="date"><a href="#">Dec<b>28</b></a></p>
					<h3>내용B</h3>
					<p><a href="#">링크2</a></p>
				</li>
			</ul>
		</div>
		<div class="boxC">
			<h2>Etiam posuere<br />
				<span>augue sit amet</span></h2>
			<ul class="style4">
				<li class="first"><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
			</ul>
		</div>
	</div>
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to our website</h2>
		</div>
		<p>This is <strong>RedMarket</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
